{% extends 'main/base.html' %}

{% block title%} {{title}} {% endblock %}

{% block content%}

<div class="container-fluid bg-white text-black py-3">
    <div class="row justify-content-center">
        {% if request.user.is_authenticated and user.is_superuser %}

        <div class="col-md-4 mb-5">
            <a href="{% url 'new_guide' %}">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">&#9997; Создать элемент</h5>
                    </div>
                </div>
            </a>
        </div>

        {% for el in info %}
        <div class="col-md-4 mb-5">
            <a href="{% url 'guide_detail' el.id %}">
                <div class="card shadow d-flex flex-column justify-content-center align-items-center">

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ el.NAME }}</h5>
                        <br>
                        <a href="{% url 'edit_guide' el.id %}" class="btn btn-warning">&#x270E; Редактировать</a>
                        <br><br>
                        <form action="{% url 'delete_guide' el.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="&#10007; Удалить">
                        </form>
                    </div>

                </div>
            </a>
        </div>
        {% endfor %}

        {% else %}


        {% for el in info %}
        <div class="col-md-4 mb-5">
            <a href="{% url 'guide_detail' el.id %}">
                <div class="card shadow d-flex flex-column justify-content-center align-items-center">

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ el.NAME }}</h5>

                    </div>

                </div>
            </a>
        </div>
        {% endfor %}

        {% endif %}

    </div>
</div>
<style>
.card {
  height: 100%;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  margin-top: 1rem;
  font-size: 1.5rem;
}



@media screen and (max-width: 768px) {
  .card-title {
    font-size: 18px;
  }
}



</style>
{% endblock %}ыы